<!--
  Generated template for the ViewhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>viewhistory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-4 class="txtsiz">{{color}}</ion-col>
        <ion-col col-5></ion-col>
        <ion-col col-3>
          <ion-row align-right>
          Total Hours</ion-row>
          <ion-row class="txtsiz">{{add}}</ion-row></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


   <ion-card>
  <ion-grid>
     <ion-row>
       <ion-col>
         <h1>TASKS</h1>
      <ion-list>
              <ion-item *ngFor="let todo of works">
                  <h2>{{ todo }}</h2>
              </ion-item>
      </ion-list></ion-col> 
      <ion-col>
        <h1>HOURS</h1>
          <ion-list>
                  <ion-item *ngFor="let hour of hours">
                  <h2>{{hour}}</h2>
                  </ion-item>
          </ion-list></ion-col>
         </ion-row></ion-grid></ion-card>
          </div>
</ion-content>
