
<ion-header>

    <ion-navbar>
      <ion-title>TIMESHEET</ion-title>
      
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <div>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="txtsiz">{{color}}</ion-col>
          <ion-col col-5></ion-col>
          <ion-col col-3>
            <ion-row align-right>
            Total Hours</ion-row>
            <ion-row class="txtsiz">{{add}}</ion-row></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  
   <!-- <ion-grid>
        <ion-row>
         <ion-col>
            
              <ion-select placeholder="WORK" [(ngModel)]="selctval" selectedText>
                  <ion-option *ngFor="let work of works" value="{{work}}">{{work}}</ion-option>
              </ion-select>
            </ion-col>
       
            <ion-col>
           <ion-select [(ngModel)]="selctime" placeholder="TIME" selectedText>
                    <ion-option *ngFor="let time of times" value="{{time}}">{{time}}</ion-option>
                </ion-select>
                <ion-row>
                <ion-input type="number" placeholder="Hours" name="hours" [(ngModel)]="selcthr" required></ion-input></ion-row>
                <ion-row>
                    <ion-input type="number" placeholder="Minutes" name="minutes" [(ngModel)]="selctmin" required></ion-input></ion-row>
          </ion-col>
          
              <ion-buttons end>
                  <button ion-button (click)="additem()">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-buttons>      
         
        </ion-row>
      </ion-grid>
    -->
     <ion-card>
    <ion-grid>
       <ion-row>
         <ion-col>
           <h1>TASKS</h1>
        <ion-list>
                <button ion-item *ngFor="let todo of works" (click)="addtime(todo)">
                    <h2>{{ todo }}</h2>
                </button>
        </ion-list></ion-col> 
        <ion-col>
          <h1>HOURS</h1>
            <ion-list>
                <ion-item-sliding *ngFor="let hour of hours">
 
                    <ion-item>
                    {{hour}}
                    </ion-item>
                 
                    <ion-item-options>
                      <button danger (click)="removeItem(hour)"><ion-icon name="trash"></ion-icon> Delete</button>
                    </ion-item-options>
                  </ion-item-sliding>
                 
            </ion-list></ion-col>
           </ion-row></ion-grid></ion-card>
            <ion-grid>
              <ion-row>
                  <ion-col>
                      <button ion-button round style="bottom:-150px; text-align:center; left:20px" (click)="save()" id="save">Save</button>
                  </ion-col>
                  <ion-col>
                      <button ion-button round style="bottom:-150px; text-align:center; left:20px" (click)="submit()" id="submit">Submit</button>
                  </ion-col>
  
                </ion-row>
  
              </ion-grid>
            </div>
  </ion-content>
  