page-settings {
    .scroll-content{
    background-image: url("../../assets/imgs/Capture4.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
}
.card{

    background: transparent;
}
.card-title {
    position: absolute;
    top: 0%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-title1 {
    position: absolute;
    top: 10%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-title2 {
    position: absolute;
    top: 20%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-title3 {
    position: absolute;
    top: 30%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-title4 {
    position: absolute;
    top: 40%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
}
