page-history {

    background-image: url("../../assets/imgs/bg.png");


.back{
    background-image: url("../../assets/imgs/bg.png");
    
}
.button-inner{
    color:wheat
}
.week-title.transparent{
    color:white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
p {
    color: red;
}

}
